<mat-grid-list cols="{{_cols}}" rowHeight="2:1" gutterSize="40px">
    <mat-grid-tile>
        <select-grid-item caption="Lotto" gameName="lotto" imageUrl="assets/games/lotto.png"></select-grid-item>
    </mat-grid-tile>

    <mat-grid-tile>
        <select-grid-item caption="Fruitinator" gameName="fruitinator" imageUrl="assets/games/fruitinator.jpg" imagePos="top"></select-grid-item>
    </mat-grid-tile>

    <mat-grid-tile>
        <select-grid-item gameName="Lotto"></select-grid-item>
    </mat-grid-tile>
    <mat-grid-tile>
        <select-grid-item gameName="Lotto"></select-grid-item>
    </mat-grid-tile>
    <mat-grid-tile>
        <select-grid-item gameName="Lotto"></select-grid-item>
    </mat-grid-tile>

</mat-grid-list>
