@import "select.component.theme";

mat-grid-list{
  margin: 50px;
}

mat-grid-tile{
  font-family: inherit;
  border-radius: 5px;
}


.toolbar{
  h1{
    margin: 50px 0 0 50px;
    font-family: "Roboto", "Source Sans Pro", sans-serif;
    font-weight: 500;
  }
}
