<div class="global-nav">
  <div class="gnav">
    <nav class="navigation nav">
      <ul class="nav-list">
        <li>
          <a routerLink="/"><span>Logo</span></a>
        </li>
        <li (mouseup)="toggleState('games')"  (mouseover)="showPop('games')" (mouseout)="hidePop($event, 'games')" class="games-act">
          <span>Games</span>
          <span class="dropdown-caret"></span>
        </li>
        <li (mouseup)="toggleState('contact')"  (mouseover)="showPop('contact')" (mouseout)="hidePop($event, 'contact')" class="contact-act">
          <span>Contact</span>
          <span class="dropdown-caret"></span>
        </li>
      </ul>
    </nav>
    <nav class="identity nav">
      <ul class="nav-list">
          <li *ngIf="!signedIn">
            <span>Name: {{(user$ | async).user.username}}</span>
          </li>
          <li *ngIf="!signedIn">
            <a routerLink="/login">
              <span>Sign in</span>
            </a>
          </li>
        <li *ngIf="signedIn"><span>my account</span></li>
      </ul>
    </nav>
  </div>

  <div class="pops">
    <div class="games-pop games-act pop" *ngIf="state == 'games'" (mouseout)="hidePop($event,'games')">
      <h1>Pop</h1>
    </div>
    <div class="contact-pop contact-act pop" *ngIf="state == 'contact'" (mouseout)="hidePop($event,'contact')">
      <h1>Pop Contact</h1>
    </div>
  </div>

  <button (click)="updateUser()">Update User</button>
</div>
