@import "~@angular/material/theming";
@import "src/theme";

@import "navbar.component.theme";

$nav-height: 60px;
$item-margin: 0 20px;

.global-nav{
  position: relative;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 18px;

  .gnav {
    position: relative;
    display: flex;
    flex-direction: row;
    height: $nav-height;
    padding: 0 20vw;

    .nav{
      width: 100%;

      .nav-list{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;

        li{
          height: $nav-height;
          line-height: $nav-height;
          vertical-align: middle;
          text-align: center;
          margin: $item-margin;
          cursor: pointer;

          span{
            display: inline-block;
          }

          .dropdown-caret{
            margin-left: 3px;
            display: inline-block;
            width: 0;
            height: 0;
            vertical-align: middle;
            content: "";
            border-top: 5px solid;
            border-right: 5px solid transparent;
            border-left: 5px solid transparent;
            border-bottom: 0 solid transparent;
          }

          a{
            font-style: normal;
            text-decoration: none;
          }

        }
      }

      &.navigation{

      }
      &.identity{
        justify-self: right;
        margin-right: 0;

        .nav-list{
          margin-right: 0;
          margin-left: auto;
          flex-direction: row-reverse;
        }
      }

    }
  }

  .pops{
    position: absolute;
    width: 100%;
    z-index: 99;

    .pop{
      background: var(--pop-background);
      padding: 15px 5vw;
    }

  }

}
