<div class="login-container">
  <!--Assign the formGroup to the form-->
  <form [formGroup]="formGroup" (ngSubmit)="submit()">
      <div class="signin-wrapper">
        <!--Stepper is linear. It checks after each step if the Validation is valid.-->
        <mat-horizontal-stepper class="background" linear [formGroup]="formGroup">
          <mat-step [stepControl]="formGroup.get('username')">
            <ng-template matStepLabel>
              Username
            </ng-template>
            <div class="header">
              <h1>Sign into your account</h1>
            </div>
            <div class="username-container form-input-container form-field">
              <mat-form-field appearance="outline" class="field">
                  <mat-label>
                    Username
                  </mat-label>
                  <input matInput placeholder="Enter your username..." autocomplete="off" formControlName="username"/>
              </mat-form-field>
            </div>
            <div class="form-field">
              <button mat-flat-button matStepperNext class="field" color="primary">Next</button>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>
              Password
            </ng-template>
            <div class="password-container">
              <div class="header">
                <h1>Welcome {{formGroup.get('username').value}}!</h1>
                <h3>Enter your password to unlock your account</h3>
              </div>

              <div class="form-field status">
                <span class="status">
                  {{signInState$ | async}}
                </span>
              </div>

              <div class="form-field">
                <mat-form-field appearance="outline" class="field">
                  <mat-label>
                    Password
                  </mat-label>
                  <input matInput placeholder="Enter your password..." type="password" formControlName="password">
              </mat-form-field>
              </div>
              <div class="form-field">
                <mat-checkbox color="primary">
                  Remember Me?
                </mat-checkbox>
              </div>
              <div class="form-field">
                <button mat-stroked-button matStepperPrevious type="button" class="field inline">
                  back
                </button>
                <button mat-raised-button type="submit" class="field submit-btn inline" color="primary">
                  <mat-icon inline="true">
                    send
                  </mat-icon>
                  Send
                </button>
              </div>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </div>
  </form>
</div>
