@import "signIn.component.theme";
  .signin-wrapper{
    padding: 50px 30vw;


    .background{
      border-radius: 8px;
    }

    .header{
      padding: 0 20%;
      text-align: center;
      vertical-align: middle;
    }

    .form-field{
      padding: 0 20%;
      margin: 15px 0;
    }
    .field{
      width: 100%;

      &.inline{
        display: inline-block;
        width: 50%;
      }

      &.submit-btn{
        font-size: 20px;
        vertical-align: middle;
      }
    }
  }

