#back {
    padding-top: -10%;
    height: 100%;
}

#regcon1 {
    background-color: lightgrey;
    width: 13%;
    height: 140px;
    list-style-type: none;
    margin-left: 15%;
    top: 30%;
    padding-left: 2%;
    border-radius: 25px;
}

#profil {
    margin-left: 42%;
    top: 30%;
    padding-left: 2%;
    padding-top: 8%;
}

#header {
    width: 100%;
    height: 50px;
    background-color: rgb(206, 176, 8);
    display: flex;
    align-items: center;
    justify-content: center;
}


#regcon {
    margin-top: 2%;
    display: flex;
}


body {
    background-color: white;
}

li {
    padding-top: 2%;
}