build --strategy=TypeScriptCompile=worker

build --symlink_prefix=dist/

build --incompatible_strict_action_env
run --incompatible_strict_action_env
test --incompatible_strict_action_env

test --test_output=errors

common --experimental_allow_incremental_repository_updates

common --record_rule_instantiation_callstack