#regcon1 {
    width: auto;
    list-style-type: none;
    top: 30%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 6%;
    padding-bottom: 2%;
}

#regcon {
    background-color: lightgrey;
    display: flex;
    margin: 1% auto 0 auto;
    border-radius: 25px;
    width: min-content;
    padding: 0 10px 15px 10px;
}


body {
    background-color: white;
}

.registrieren {
    font-size: 50px;
    color: #404040;
}

mat-icon {
    font-size: 200px;
    margin-left: 45%;
    margin-top: 7%;
    color: #b0b0b0;
}

