<mat-icon id="profile">person</mat-icon>
<form [formGroup]="formGroup" (ngSubmit)="submit()">
  <div id="regcon">
      <div id="regcon1">
          <li>
              <output class="regcon" id="registrieren">Registrieren</output>
          </li>
          <li>
              <mat-form-field>
                <mat-label>Benutzername</mat-label>
                <input matInput type="text" class="regcon" id="Benutzername" formControlName="username">
              </mat-form-field>
          </li>
          <li>
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input matInput type="email" pattern="+@+." class="regcon" id="email" formControlName="email">
            </mat-form-field>
          </li>
          <li>
              <mat-form-field>
                <mat-label>Passwort</mat-label>
                <input matInput type="password" class="regcon" id="Passwort1" formControlName="password">
              </mat-form-field>
          </li>
          <li>
            <mat-form-field>
              <mat-label>Passwort bestätigen</mat-label>
              <input matInput type="password" class="regcon" id="Passwort2" formControlName="confirmPassword">
            </mat-form-field>
          </li>
          <li>
            <mat-form-field>
              <mat-label>Geburtsdatum</mat-label>
              <input matInput [matDatepicker]="picker" type="date" class="regcon" id="geburtsdatum" formControlName="birthdate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </li>
          <li>
            <mat-form-field>
              <mat-label>Name</mat-label>
              <input matInput type="text" class="regcon" id="ganzerName" formControlName="fullname">
            </mat-form-field>
          </li>
          <li>
            <button mat-raised-button color="primary" type="submit" class="regcon" id="fertig">Fertig</button>
          </li>
      </div>
  </div>
</form>
