<div class="account-ctrl" *ngIf="isSignedIn | async">

    <button class="trigger" mat-icon-button matTooltip="My Account" matTooltipShowDelay="0" [matMenuTriggerFor]="accountMenu">
        <mat-icon>account_circle</mat-icon>
    </button>

    <mat-menu #accountMenu>
        <button mat-menu-item>Your Profile</button>
        <button mat-menu-item>Your Statistics</button>
        <button mat-menu-item (click)="signOut()">Sign out</button>
    </mat-menu>


</div>
<div class="auth-ctrl" *ngIf="!(isSignedIn | async)">
    <button mat-raised-button>Register</button>
    <button mat-button routerLink="/signin">Sign in</button>
</div>
